body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-size: 15px; */
}

.main_page {
  background-color: rgb(196, 230, 76);
  padding-bottom: 8%;
}

.header_block {
  padding-top: 150px;
  padding-left: 150px;
}

.login_block {
  position: relative;
  padding-top: 150px;
  padding-left: 450px;
  padding-bottom: 100px;
  padding-right: 220px;
  display: block;
}

.signin {
  padding-left: 55px;
  text-align: center;
}

#greet {
  color: rgb(115, 16, 214);
}

#info,
#phone_info {
  color: white;
  font-size: 25px;
}

.input_tag {
  text-align: left;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.input_tag :focus {
  border: none;
  outline: none;
}

.input_tag1 {
  padding-left: 20px;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 35px;
  box-shadow: 2px 4px 8px 3px rgb(179, 175, 175);
}

.input_tag2 {
  padding-left: 20px;
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 35px;
  box-shadow: 2px 4px 8px 3px rgb(179, 175, 175);
}

.button_tag {
  background-color: rgb(109, 109, 207);
  text-align: center;
  padding-right: 18px;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.button_login {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.button_login :focus {
  border: none;
  outline: none;
}

.button_login :visited {
  background-color: tomato;
}

.button_login :hover {
  background-color: violet;
}

.button_login :active {
  background-color: green;
  opacity: 80%;
}

.forgotpwd {
  padding-left: 65px;
}

@media screen and (max-width: 768px) {
  #info {
    display: none;
  }

  .header_block {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }

  .login_block {
    width: 100%;
    align-content: center;
    text-align: left;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 100px;
  }

  .main_page {
    background-color: lightgreen;
  }

  .forgotpwd {
    padding-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  #phone_info {
    display: none;
  }
}
